@model HospitalProject.Models.ViewModels.UpdateParkingSpot

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="/ParkingSpot/update" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="id" value="@Model.SelectedParkingSpot.Id" />
    <div class="form-group">
        <div class="form-group">
            <div class="form-group">
                <label class="control-label">Code:</label>
                <input class="form-control" type="text" name="Code" value="@Model.SelectedParkingSpot.Code" required />
            </div>

            <div class="form-group">
                <label class="control-label">Type:</label>
                <input class="form-control" type="text" name="Type" value="@Model.SelectedParkingSpot.Type" required />
            </div>

            <div class="form-group">
                <label class="control-label">Staff:</label>
                <select name="StaffId">
                    @foreach (var staffs in Model.StaffsOptions)
                    {
                        var selected = "";
                        if (staffs.Id == Model.SelectedParkingSpot.Id)
                        {
                            selected = "selected";
                        }
                        <option value="@staffs.Id" @selected>@staffs.Name</option>

                    }
                </select>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>