@model HospitalProject.Models.ViewModels.DetailsStaff

@{
    ViewBag.Title = "Details";
}
<a href="/Staff/List">Go back to list</a>

<br />
<a href="/Staff/Edit/@Model.SelectedStaff.Id">Update</a>

<br />
<a style="color:darkred;" href="/Staff/DeleteConfirm/@Model.SelectedStaff.Id">Delete</a>

<h2>
    @Model.SelectedStaff.Name
</h2>

<div>
    Start Time: @Model.SelectedStaff.StartTime
</div>

<div>
    End Time: @Model.SelectedStaff.EndTime
</div>
<div>
    Specialization Id: @Model.SelectedStaff.SpecializationId
</div>

<div style="margin-top:100px;">
    <h3>Announcements made by the Staff</h3>
    @foreach (var announcement in Model.RelatedAnnouncements)
    {
        <a href="/Announcement/Details/@announcement.Id">@announcement.Title</a><br />
        <hr />
    }
</div>

<div style="margin-top:100px;">
    <h3>Parking Spot Authorized for the staff</h3>
    @foreach (var staff in Model.RelatedParkingSpots)
    {
        <a href="/Staff/Details/@staff.Id">@staff.Code</a>

    }
</div>

