@model HospitalProject.Models.ViewModels.UpdateStaff

@{
    ViewBag.Title = "Edit";
}

<h2>Update Staff</h2>

    <nav>
        <ul>
            <li><a href="/Staff/List">Go back to list</a></li>
            <li><a style="color:darkred;" href="/Staff/DeleteConfirm/@Model.SelectedStaff.Id">Delete</a></li>
        </ul>
    </nav>

    <form action="/Staff/Update/@Model.SelectedStaff.Id" method="POST">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div>
                    <label>Staff Id</label>
                    <input type="number" name="Id" value="@Model.SelectedStaff.Id" />
                </div>

                <div>
                    <label>Name</label>
                    <input type="text" name="Name" value="@Model.SelectedStaff.Name" />
                </div>

                <div>
                    <label>Start Time:</label>
                    <input type="time" name="StartTime" value="@Model.SelectedStaff.StartTime.ToString("HH:mm tt")" />
                </div>

                <div>
                    <label>End Time:</label>
                    <input type="time" name="EndTime" value="@Model.SelectedStaff.EndTime.ToString("HH:mm tt")" />
                </div>

                <label>Specialization:</label>
                <select>
                    @foreach (var specialization in Model.SpecializationsOptions)
                    {
                        if (@specialization.Id == Model.SelectedStaff.Specialization.Id)
                        {
                            <option value="@specialization.Id" selected="selected">@specialization.Name</option>
                        }
                        else
                        {
                            <option value="@specialization.Id">@specialization.Name</option>

                        }
                    }
                </select>

            </div>

        </div>
        <div>
            <input type="submit" value="Update Staff" />
        </div>

    </form>
