@model IEnumerable<HospitalProject.Models.StaffsDto>
@{
    ViewBag.Title = "List";
}

<h2>Staff List</h2>
<p>
    @Html.ActionLink("Add New Staff", "New")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Start Time:
        </th>
        <th>
            End Time:
        </th>
        <th>
            Specialization
        </th>

        <th></th>
    </tr>
    @foreach (var Staff in Model)
    {
        <tr>
            <td>
                @Staff.Name
            </td>
            <td>
                @Staff.StartTime.ToString("HH:mm tt")
            </td>
            <td>
                @Staff.EndTime.ToString("HH:mm tt")
            </td>
            <td>
                @Staff.Specialization.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Staff.Id }) |
                @Html.ActionLink("Details", "Details", new { id = Staff.Id }) |
                @Html.ActionLink("Delete", "DeleteConfirm", new { id = Staff.Id })
            </td>
        </tr>
    }

</table>

