@model HospitalProject.Models.AnnouncementDto
@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>
<div>
    <h4>@Model.Title</h4>
    <div>
        <Label>Description: </Label>
        <span>@Model.Description</span>
    </div>

    <div>        
    <Label>PSA: </Label>
    <span> @Model.IsPSA</span>
    </div>

    <div>
        <Label>URL: </Label>
        <span>@Model.Url</span>
    </div>
    <div>
        <Label>Staff Name: </Label>
        <span>@Model.Name</span>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "List")
</p>
